body{
    
    background-color: #F5F8FF;
}


/* font */

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* color styles */
.black-color{
    color: #000000;
}
.dark-color{
color: #252432;
}
.light-dark-color{
    color: rgba(0, 0, 0, 0.5);

}


.ash-color{
    color: #8987A1;
    
}

.orange-color{
    color: #E95A08;
}


/* header section */
header{
    max-width: 1140px ;
    margin: 0px auto;
}

.nav-header{
    justify-content: space-between;
    padding: 30px 0px;
}

.menu-bar{
    gap:48px;
    list-style: none;
    
}
.nav-bar li a{
    text-decoration: none;
}

.header-banner{
    justify-content: space-between;
    padding: 120px 0px;
}
.h1-header-text{
    font-size: 65px;
    font-weight: 700;
}
.banner-img{
    width: 100%;
}

/* main-cart-section styles */

.main-margin{
    
    max-width: 1140px ;
    margin: 0px auto;
}

.cart-section{
    text-align: center;
}

.cart-section h1{
    font-size: 50px;
    font-weight: 700;
}

.cart-display-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20;
   
}
.cart{
     padding: 30px 0px;
}
.cart img{
    width: 100%;
}

.cart-title{
    color: #111111;
    font-weight: 500;

}
.price{
    color: #111111;
    font-size: 22px;
    font-weight: 700;

}
.cart-btn{
   
    background-color: #E95A08;
    padding: 19px 80px;

}
.cart-btn a{
     color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;

}

.cart-btn a:hover{
    color: rgb(83, 66, 233);
    
}


/* main-plant-lover-section styles */
.plant-lover-section{
    justify-content: space-between;
   margin-top: 200px;

}
.lover-description-img{
    position: relative;
   
}
.seller-badge{
    position: absolute;
    top:-130px;
    left:350px;
    width: 286px;
    
}


.lover-h2{
font-size: 50px;
font-weight: 700;
}

.lover-description{
    padding-left: 60px;  
}



/* main-latest-deal-section styles */

.deals-h2{
    font-size: 50px;
    font-weight: 700;
}
.deals-text{
    text-align: center;
}



/* newsletter-section styles */

.newsletter{
    height: 533px;
    background-image: url("../assets/news-letter-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    
}

.newsletter-text{
    text-align: center;
}

.newsletter-h2{
    color: #ffffff;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 20px;
}

.email-field{
    font-size: 16px;
    padding: 15px 20px ;
    width: 644px;
    

}
.sub-btn{
    color: #ffffff;
    background-color: #E95A08;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 50px 18px 50px;
    margin-left: -4px;

    

}

/* footer-section */
.footer-section{
    padding: 50px 160px;
    
}



.footer-column li{
    justify-content: space-between;
    list-style: none;


}
.nav-link-footer{
    color: #6B7280;
    text-decoration: none;
 }
 
 .social-flex{
    gap:24px;
 }



/* shared styles */
 .display-flex{
    display: flex;
 }

 .p-text{
    font-size: 22px;
 }

 


