body{ 
    background-color: #F5F8FF; 
}


/* font */

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* color styles */
.black-color{
    color: #000000;
}
.dark-color{
color: #252432;
}
.light-dark-color{
    color: rgba(0, 0, 0, 0.5);

}


.ash-color{
    color: #8987A1;
    
}

.orange-color{
    color: #E95A08;
}


/* header section */
header{
    max-width: 1140px ;
    margin: 0px auto;
}

.nav-header{
    justify-content: space-between;
    padding: 30px 0px;
}

.menu-bar{
    gap:48px;
    list-style: none;
    
}
.nav-bar li a{
    text-decoration: none;
}

.header-banner{
    justify-content: space-between;
    padding: 120px 0px;
}
.h1-header-text{
    font-size: 65px;
    font-weight: 700;
}
.banner-img{
    width: 100%;
}

/* main-cart-section styles */

.main-margin{
    
    max-width: 1140px ;
    margin: 0px auto;
}

.cart-section{
    text-align: center;
}

.cart-section h1{
    font-size: 50px;
    font-weight: 700;
}

.cart-display-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   
}
.cart{
     padding: 15px 10px;
}
.cart img{
    width: 100%;
}

.cart-title{
    color: #111111;
    font-weight: 500;

}
.price{
    color: #111111;
    font-size: 22px;
    font-weight: 700;

}
.cart-btn{
   
    background-color: #E95A08;
    padding: 19px 76px;

}
.cart-btn a{
     color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;

}

.cart-btn a:hover{
    color: rgb(0, 0, 0);
    
}


/* main-plant-lover-section styles */
.plant-lover-section{
    justify-content: space-between;
   margin-top: 200px;

}
.lover-description-img{
    position: relative;
   
}
.seller-badge{
    position: absolute;
    top:-130px;
    left:350px;
    width: 286px;
    
}
.lover-img-sec{
    width: 540px;
    height: 597px;
}

.lover-h2{
font-size: 50px;
font-weight: 700;
}

.lover-description{
    padding-left: 60px;  
}



/* main-latest-deal-section styles */


.deals-h2{
    font-size: 50px;
    font-weight: 700;
}
.deals-text{
    margin-top: 130px;
    text-align: center;
}


.deals-image{
    width: 100%;
    display: grid;
    height: 425px;
    gap: 25px 28px;    
    margin: 120px auto;
    grid-template-areas: "bloom zabo zabo"
                         "ana zabo zabo";
                         

}


.img1{
    background-image: url('/assets/deal-bloom.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: bloom;
    border-radius: 14px;
    
}

.img2{
    background-image: url('/assets/deal-ana.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: ana;
    border-radius: 14px;
}
.img3{
    background-image: url('/assets/deal-zabo.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: zabo;
    border-radius: 14px;
    

}

.discount-text{
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}
.discount-text3{
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
}
.discount-p{
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}
.discount-p3{
    color: #ffffff;
    font-size: 28px;
    font-weight: 600;
}



.discount{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* newsletter-section styles */

.newsletter{
    height: 533px;
    background-image: url("../assets/news-letter-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    
}

.newsletter-text{
    text-align: center;
}

.newsletter-h2{
    color: #ffffff;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 20px;
}

.email-field{
    font-size: 16px;
    padding: 15px 20px ;
    width: 644px;
    

}
.sub-btn{
    color: #ffffff;
    background-color: #E95A08;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 50px 15px 50px;
    margin-left: -4px; 
    cursor: pointer;
}

.sub-btn:hover{
    background-color: #295cd1;
}

/* footer-section */
.footer-section{
    max-width: 1140px;
    margin: 0 auto;
}

.footer-column{
    justify-content: space-between;
    margin: 50px auto;
}
.footer-logo{
    width: 359px;
    height: 179px;
    margin-bottom: 70px;
}

.footer-column li{
    justify-content: space-between;
    list-style: none;
    margin-bottom: 32px;


}

.nav-link-footer{
    color: #6B7280;
    text-decoration: none;
    
 }
 
 .social-flex{
    gap:24px;
 }

.social-flex img{
    width: 36px;
    height: 36px;
}

/* shared styles */
 .display-flex{
    display: flex;
 }

 .p-text{
    font-size: 22px;
 }

 
/* responsive section */

@media screen and (max-width: 576px) {

body{
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
 

  
/* header styles*/
.nav-header{
    padding: 30px 30px;
}
.res-header-nav{
    display: none;
    
}
.res-banner{
    flex-direction: column-reverse;
}   
.header-banner{
    margin-left: 10px;
}
.h1-header-text{
    font-size: 40px;
}
.header-banner{
    padding: 28px 0px;
}

.logo-header img{
    width: 65px;
    height: 38px;
}
.res-header{
        margin-top: 0;
        margin-bottom: 65px;
    }

/* cart styles */
.cart-display-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
}

/* lover styles */
.seller-badge{
    display: none;
}
.plant-lover-section{
    flex-direction: column;
}
.lover-img-sec{
    width: 100%;
    height: 100%;
}

/* Deals styles */
.deals-image{
    display: block;
    width: 100%;
    height: 425px;
    gap: 0px;   
    margin: 50px 10px 40px 10px;
}
.img1, .img2, .img3{
    width: 100%;
    height: 200px;

}
.img2{
    margin: 20px 0px;
}

.discount-text3{
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}

.discount-p3{
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}
/* newsletter styles */
.newsletter{
    height: 30vh;
    margin-top: 300px;
    margin-bottom: 50px;
}

.email-field{
    font-size: 16px;
    padding: 15px 20px ;
    width: auto;
    

}
.newsletter-h2{
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

/* footer styles */
.footer-column{
    flex-direction: column;

}


.footer-logo{
    margin-left: 20px;
    margin-bottom: 20px;
}



}
